.list{
    background-color: lightgray;
    padding: 10px;
    border:none;
    box-shadow: 5px 0px 14px 0px gray;
    margin-right: 10px
}
.list:hover{
    background-color: lightgrey;
    opacity: 0.59;
    
}
.but{
    margin-left: 15%;
    background-color: rgb(73, 175, 175);
    border: none;
    padding: 10px;
}
